<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
<type name="Magento\Catalog\Model\Product">
<plugin name="description_plugin" type="Hiberus\Roman\Plugin\Catalog\DescriptionPlugin" sortOrder="10" disabled="false" />
</type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
            <item name="comando-autor" xsi:type="object">Hiberus\Curso\Console\AuthorsCommand</item>
            </argument>
        </arguments>
    </type>

    <preference for="Hiberus\Roman\Api\Data\RomanInterface" type="Hiberus\Roman\Model\Roman"/>
    <preference for="Hiberus\Roman\Api\RomanRepositoryInterface" type="Hiberus\Roman\Model\RomanRepository"/>

    <type name="Magento\Framework\EntityManager\MetadataPool">
        <arguments>
            <argument name="metadata" xsi:type="array">
                <item name="Hiberus\Roman\Api\Data\RomanInterface" xsi:type="array">
                    <item name="entityTableName" xsi:type="const">Hiberus\Roman\Api\Data\RomanInterface::TABLE_NAME</item>
                    <item name="identifierField" xsi:type="const">Hiberus\Roman\Api\Data\RomanInterface::COLUMN_ID</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
